@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1633722825452-4e6589935493?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0MXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: normal;
}

h1:hover{
    color: rgb(68, 10, 85);
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin: 1rem 2rem; */
    justify-content: center;
}

.big-text{
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}













